.text-underline {
  text-decoration: underline !important;
}

.text-line-through {
  text-decoration: line-through !important;
}

.flex-center { 
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

// Adds supernova-pink to the color pallet. TODO:
$supernova-theme: (
  "supernova-pink": $supernova-pink
);

$theme-colors: map-merge($supernova-theme, $theme-colors);