// Extends Bootstrap cards.

.card--product {
  border:none;

  .badge {
    position: absolute;
    font-size: 10px; // Usage: to scale up and down.
    width: 9em;
    height: 9em;
    top: -0.6rem;
    right: -0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;      
  }

  .ratings{
      font-size: 0.875rem;
  }

}